<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tacos App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="main-container">
    <div class="user-sign">
        <h1>To place an order, please first sign in/up</h1>

        <form th:action="@{/user/login}" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <!-- Show error message if username is invalid -->
            <div th:if="${errorMessage}" class="error-message">
                <p th:text="${errorMessage}"></p>
            </div>

            <button type="submit" class="btn-submit">Log in</button>
            <a th:href="@{/user/signup}" class="btn-signup">Sign up</a>
        </form>
    </div>
</div>
</body>
</html>
