<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tacos App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/orders.css}">
</head>
<body>
<nav>
    <a th:href="@{/user/logout}" class="btn">Log out</a>
    <a th:href="@{/order/new(userId=${user.getId()})}" class="new-order-button">+ New Order</a>
</nav>
<div class="main-container">
    <div class="container">
        <header>
            <h1>Orders by <span th:text="${user.getUsername()}"></span></h1>
        </header>
        <div class="orders-container">
            <div th:each="order : ${user.getOrders()}" class="order-card" th:classappend="${!order.getStatus()} ? 'closed'">
                <div class="order-info">
                    <p class="order-date" th:text="${#dates.format(order.date, 'MMMM d, yyyy - h:mm a')}"></p>
                    <p class="order-total" th:text="'Total: $' + ${#numbers.formatDecimal(order.getTotalCost(), 1, 2)}"></p>
                </div>
                <div class="order-actions">
                    <a th:if="${order.getStatus()}" th:href="@{/order/view(orderId=${order.getId()})}" class="view-button">View</a>
                    <a th:if="${!order.getStatus()}" th:href="@{/order/invoice(orderId=${order.getId()})}" class="invoice-button">Invoice</a>
                    <a th:href="@{/order/delete(orderId=${order.getId()})}" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
